/* RESET - Remove espaços padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO DA PÁGINA */
body {
    background: #394b57;
    font-family: 'Times New Roman', serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIV PRINCIPAL DA PÁGINA */
.body-container {
    border-radius: 20px;
    margin: 20px;
    align-items: center;   
}

/* DIV PRINCIPAL DA CALCULADORA */
.calculator-container {
    margin-top: 20px;
    border-radius: 20px;
}

/* DIV DOS BUTOES DA CALCULADORA */
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 320px;
    padding: 10px;
    background: #1c2328;
    border-radius: 10px;
}

/* BOTÕES */
button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #000000 3px 5px 5px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    transform: scale(1.05);
    background: #d0d0d0;
}

/* EFEITO: BOTÃO SENDO CLICADO */
button:active {
    transform: scale(0.95);
}

/* TÍTULO */
#title-container {
    text-align: left;
    color: #ffffff;
    margin: 5px;
    height: 5px;
    font-size: 8px;
}

h1{
    box-shadow: #000000 3px 5px 5px;
    height: 4px;
    width: 30px;
}

/* DISPLAY (CAMPO DE TEXTO) */
#display {
    width: 100%;
    max-width: 320px;
    font-size: 24px;
    text-align: right;
    padding: 15px;
    border: 2px solid #1c2328;
    border-radius: 5px;
    background: #1c2328;
    color: white;
}

/* BOTÕES DE OPERAÇÃO (+, -, ×, ÷) */
.operador {
    background: #7b91a2;
    color: white;
}

/* BOTÃO LIMPAR (C) */
.limpar {
    background: #b23229;
    color: white;
}

/* BOTÃO IGUAL (=) */
.calcular {
    background: #51a854;
    color: white;
}

@media (max-width: 600px) {
  button:hover {
    transform: none;
  }

  button {
  box-shadow: none;
    }

    button:active {
        transform: none;
    }
}